@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body, h1, h2, h3, h4, h5, h6, p, canvas, div {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.content-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.container-react {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 18px;
  color: #394c5b;
  font-weight: bold;
  line-height: 24px;
}

.Map {
  max-height: 97vh;
  max-width: 70vw;
  height: 97vh;
  width: 70vw;
}

.footer {
  display: flex;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  width: 100vw;
}

.footer-div {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.footer-div a {
  text-decoration: none;
  width: 25vw;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
