html, body, div, h1, h2, h3, h4, h5, h6, p, canvas {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.container-react {
  display: flex;
  flex-direction: row;
}
