@import url('https://fonts.googleapis.com/css?family=Arvo|Quicksand');

.about {
  display: flex;
  font-family: 'Quicksand', sans-serif;
}

.sidepanel {
  z-index: 10;
  background-color: white;
  top: 0px;
  border-right: 1px solid rgb(80%, 80%, 80%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 97vh;
  height: 97vh;
  width: 30vw;
}

.container-header {
  display: flex;
  flex-direction: row;
  height: 7vh;
  border-bottom: 1px solid rgb(156, 156, 156);
}

.icon a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(156, 156, 156);
  width: 5vw;
  min-width: 5vw;
}

.icon-logo {
  font-family: "Arvo", serif;
  /*font-size: 2em;*/
  color: rgb(56,76,91)
}


/*SEARCH BAR*/

/*.fa-search {
  color:rgb(156, 156, 156);
  margin-right: .5em;
}*/

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex: 1;
  width: 14vw;
  min-width: 14vw;
  height: 7vh;
  border: none;
  font-size: 12px;
  padding: 15px;
  box-sizing: border-box;
  color: rgb(156, 156, 156);
  font-weight: 100;
}

input {
  user-select: text;
  cursor: auto;
  margin-left: 12px;
  width: 90%;
}

input, textarea, select, button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 11px;
}

.search-container {
  display: flex;
  align-content: center;
  width: 14vw;
  margin: 0 auto;
}

.input {
  align-content: center;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid rgb(156, 156, 156);
  outline: none;
}

.input:focus {
  border: 1px solid rgb(51, 155, 166);
  transition: 0.35s ease;
  color: rgb(51, 155, 166);
}

/*END SEARCH BAR*/


/*SORT STYLES*/

.container-sort {
  width: 11vw;
  min-width: 11vw;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid rgb(156, 156, 156);
}

.sort-select {
  font-family: 'Quicksand', sans-serif;
  color: rgb(156, 156, 156);
  flex: 1;
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid rgb(156, 156, 156);
  outline: none;
}

.sort-select:focus {
  border: 1px solid rgb(51, 155, 166);
  transition: 0.35s ease;
  color: rgb(51, 155, 166);
}

.option {
  font-family: 'Quicksand', sans-serif;
  color: rgb(156, 156, 156);
}

/*END SORT STYLES*/

.list {
  overflow: auto;
  max-height: 94vh;
  display: block;
}

.container-description {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid rgb(156, 156, 156);
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row;
}

.description {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

.description-main-all-sites {
  flex: 8;
}

.description-main-all-sites h1 {
  text-align: left;
  font-size: 24px;
  text-decoration: none;
}

.description-main-all-sites h1:hover {
  color: rgb(51, 155, 166);
}

.description-secondary-all-sites {
  color: #a8aebf;
  font-weight: 300;
  margin-top: 6px;
  line-height: 16px;
  display: inline-flex;
  justify-content: flex-start;
  /*align-items: center;*/
  flex-direction: column;
}

.address, .year-built {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #808492;
}

.year-built {
  margin-top: -.6em;
}

.image {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 2122px) {
  .icon a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(156, 156, 156);
    width: 5vw;
    min-width: 5vw;
  }

  .icon-logo {
    font-family: "Arvo", serif;
    font-size: 2em;
    color: rgb(56,76,91)
  }


}

@media (min-width: 1025px) and (max-width: 2121px) {
  .icon-logo {
    font-family: "Arvo", serif;
    font-size: 1.3em;
    color: rgb(56,76,91)
  }

  .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex: 1;
    width: 14vw;
    min-width: 14vw;
    height: 3vh;
    border: none;
    font-size: 12px;
    padding: 15px;
    box-sizing: border-box;
    color: rgb(156, 156, 156);
    font-weight: 100;
  }

  input {
    user-select: text;
    cursor: auto;
    margin-left: 12px;
    width: 90%;
  }

  input, textarea, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 11px;
  }

  .search-container {
    width: 14vw;
    margin: 0 auto;
  }

  .input {
    align-self: center;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid rgb(156, 156, 156);
    outline: none;
  }

  .input:focus {
    border: 1px solid rgb(51, 155, 166);
    transition: 0.35s ease;
    color: rgb(51, 155, 166);
  }

  /*END SEARCH BAR*/


  /*SORT STYLES*/

  .container-sort {
    width: 11vw;
    min-width: 11vw;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgb(156, 156, 156);
  }

  .sort-select {
    font-family: 'Quicksand', sans-serif;
    color: rgb(156, 156, 156);
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid rgb(156, 156, 156);
    outline: none;
  }

  .sort-select:focus {
    border: 1px solid rgb(51, 155, 166);
    transition: 0.35s ease;
    color: rgb(51, 155, 166);
  }

  .option {
    font-family: 'Quicksand', sans-serif;
    color: rgb(156, 156, 156);
  }

  /*END SORT STYLES*/
}

@media (min-width: 700px) and (max-width: 1024px) {
  .icon-logo {
    font-family: "Arvo", serif;
    font-size: -12em;
    color: rgb(56,76,91)
  }
}
